

canvas {
	
	width: 100%;
	height: 600px;
	
}



body {
	margin: 0;
}

.content {
	
	margin: 50px 220px;
    display: inline-block;
	
}



.webgl-content {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    transform: translate(0, 0);
}
.webgl-content .footer{
	visibility: hidden;
	margin: 0;
}


